<div class="container">
  <div class="header">
    <div>
      <button mat-raised-button (click)="addNewItem()">
        <mat-icon>add</mat-icon> Add
      </button>
    </div>
    <div>
      <mat-slide-toggle (change)="toggleJsonView()">Json view</mat-slide-toggle>

      <button mat-raised-button (click)="fetchData()">
        <mat-icon>refresh</mat-icon> Refresh
      </button>
    </div>
  </div>

  <app-list
    class="list"
    [list]="list$ | async"
    [loading]="loading$ | async"
    [jsonView]="jsonView$ | async"
    [editingElement]="editingElement$ | async"
    (saved)="save($event)"
    (removed)="remove($event)"
  ></app-list>
</div>
